html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.64); }

ul {
  list-style-type: none; }

.chart_container {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 10px; }

.map_right_menu_container {
  z-index: 1;
  position: absolute;
  top: 105px;
  right: 10px; }

.map_right_bot_container {
  z-index: 1;
  position: absolute;
  bottom: 120px;
  right: 0px; }

.carddemoBasicUsage .card-media {
  background-color: #999999; }

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 55;
  bottom: 0; }

#mainMap {
  height: 100%; }

.menu-top {
  background: #E9EBEE; }

.container {
  background: url("../img/backgrounds/chat-background.jpg");
  padding: 8px; }

#autoscroll {
  overflow-x: hidden;
  overflow-y: scroll; }

.chat-form {
  padding-left: 10px;
  padding-right: 10px; }

.red {
  color: red; }

.yellow {
  color: #e9cd76; }

.blue {
  color: blue; }

.green {
  color: green; }

.white-color {
  color: white; }

.grey {
  color: #545454; }

.content-center {
  text-align: center; }

.about {
  overflow-y: scroll;
  padding: 20px;
  padding-right: 20px; }

.map_buttons_container {
  position: absolute; }

.pokeCircleIcon {
  height: 64px;
  width: 64px;
  background-color: #cce0ff;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer; }
  .pokeCircleIcon:hover {
    background-color: #4d94ff; }

.pokeNameMap {
  font-size: large; }

.pokeThumbs {
  cursor: pointer; }

#chat_wrapper md-tab-data {
  background: red; }

#chat_wrapper md-tab-content {
  background: url("../img/backgrounds/fondochat_pokemon.jpg"); }

.progress-width {
  width: 70%; }

.likes-div {
  width: 180px;
  padding: 10px;
  background-color: #a2da66; }

.likes-div2 {
  width: 180px;
  padding: 10px;
  background-color: #e25151; }

.likes-div i {
  margin-right: 5px; }

.active {
  font-weight: 800; }

.valor {
  color: red; }

.instinct {
  color: #e9cd76; }

.mystic {
  color: blue; }

.white-color {
  color: white; }

#chat_wrapper .message_container {
  padding: 10px; }

#chat_wrapper .message_container .avatar_container {
  width: 64px;
  height: 64px; }

#chat_wrapper .message_container .bubble {
  margin: 0px .5em !important;
  width: auto !important;
  height: auto !important;
  padding: 0.5em !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12); }

#chat_wrapper .message_container .bubble {
  position: relative;
  width: 250px;
  height: 120px;
  padding: 5px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#chat_wrapper .message_container .bubble .image_msg {
  width: 100%;
  max-width: 500px; }

#chat_wrapper .message_container .bubble .user {
  font-size: .9em; }

#chat_wrapper .message_container .bubble .user {
  font-size: .9em; }

#chat_wrapper .message_container .bubble .time {
  font-size: .6em; }

#chat_wrapper .message_container .bubble .text {
  max-width: 80%; }

#chat_wrapper .message_container .avatar {
  float: left;
  position: relative;
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2); }

#chat_wrapper md-input-container {
  margin-bottom: 0px; }

#chat_wrapper .bubble .text img {
  width: auto !important;
  max-width: 500px !important;
  height: auto !important;
  display: block; }

.container-maps {
  background: url("../img/backgrounds/maps.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-weight: bold;
  font-size: 22px;
  color: #00838F;
  overflow: auto; }

.container-maps img {
  margin-right: 10px; }

.container-maps .material-icons {
  font-size: 28px;
  color: #00838F;
  line-height: 1;
  margin: 2px;
  padding: 0px; }

.mysticBackground {
  background: url("../img/backgrounds/pitufos.jpg"); }

.valorBackground {
  background: url("../img/backgrounds/valor.jpg"); }

.instinctBackground {
  background: url("../img/backgrounds/patitos.jpg"); }

.container-profile {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  overflow: auto; }

.button-image {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 2px;
  margin-right: 5px; }

*:focus {
  outline: none; }

.map_buttons_container {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 10px; }

.map_center_menu_container {
  z-index: 1;
  position: absolute;
  top: 60px;
  left: 40%; }

.map_left_menu_container {
  z-index: 1;
  position: absolute;
  top: 60px;
  right: 10px; }

.pokeNameMap {
  font-size: x-large; }

.pikachuIcon {
  height: 75px; }
  .pikachuIcon:selected {
    box-shadow: none; }

.admins-list {
  margin-top: 10px; }

.admins-list li {
  position: relative;
  padding: 10px;
  text-align: center; }

.admins-list li i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  cursor: pointer; }

.contain_upload {
  width: 120;
  height: 100;
  border: 5px solid #e3e3e3;
  border-radius: 5px; }

.upload_button {
  width: 90%;
  opacity: .5;
  bottom: 6px;
  position: absolute;
  color: lightgray;
  cursor: pointer;
  padding-bottom: 10px;
  background-color: #048591;
  transition: all .1s ease; }

.upload_button:hover {
  transition: all .1s ease;
  opacity: .8; }

.title {
  font-family: Roboto;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #000000;
  font-size: 18px; }

.quit_margin {
  margin: 0px 0 !important; }

a:link {
  text-decoration: none !important; }

/*Fondo para Tag Activa */
.md-active {
  background: rgba(255, 255, 255, 0.2); }

/*Barra de progreso*/
md-progress-linear .md-container {
  height: 10px !important;
  border-style: solid;
  border-width: 2px;
  border-color: white; }

md-progress-linear .md-container .md-bar {
  height: 10px !important; }

md-progress-linear.md-default-theme .md-bar,
md-progress-linear .md-bar {
  background-color: #a2da66 !important; }

/*Test Profiles D:*/
#imgProfile {
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.64); }

.profilePic {
  align-items: center;
  align-content: center;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-position: inherit;
  width: 100%;
  color: white; }

.profileBGvalor {
  background: url("../img/backgrounds/valorlogo.png") no-repeat;
  background-color: #8f0202; }

.profileBGmystic {
  background: url("../img/backgrounds/pitufologo.png") no-repeat;
  background-color: #0076F2; }

.profileBGinstinct {
  background: url("../img/backgrounds/patito.png") no-repeat;
  background-color: #FBD208; }

.upload_logo {
  color: white;
  width: 100px; }

.timerContainer {
  position: relative; }

.timerPokemon {
  position: absolute;
  top: 15px;
  left: -5px;
  padding: 4px;
  background-color: #5F6A72;
  color: white !important;
  border: #5f6a72; }

.nest {
  position: absolute;
  left: -25px;
  top: -15px; }

.share-button {
  background-color: #4267b2;
  border-color: #4267b2;
  color: #FFF;
  text-transform: capitalize; }

.container-full {
  position: absolute;
  top: 55px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

md-tabs.noTabPanel md-tabs-wrapper {
  display: none !important; }

.notificationsMenu {
  line-height: 60px;
  margin-right: 10px; }

/*# sourceMappingURL=styles.css.map */