<div layout="column" class="md-padding">
    <img src="img/logo.png" width="250">
    <div>Pok&eacute;centergo for Pok&eacute;mon GO is a social tool and the fastest way to find pok&eacute;mons, poke-stops and gyms by creating communities.</div>
    <div>You and the rest of pok&eacute;mon trainers should share precise and accurate information through social networks to build together and as soon as possible a strong and reliable community to the eyes of all active users of Pok&eacute;mon GO throughout the world.</div>
    <div>This is your chance to be the leading pok&eacute;mon master of your city and fight for your community!</div>
    <br/>
    <br/><div><b>Quick and easy to use:</b></div><br/>
    <div>Be a part of your city&acute;s community</div>
    <div>You will be able to see each of the locations of every existing pok&eacute;mon, poke-stops and gyms on the map at any time. If you happen to find a pok&eacute;mon, just press the following button () to catch and share with the rest of the team through social media to make your community the strongest above all the others on the city.</div>
    <br/><div><b>Create your community in your actual city</b></div><br/>
    <div>If in your city the are no maps nor communities available yet, no worries. You can be the next leader of your own community by adding a new map. Invite all of your friends and share revealing data so that the upcoming followers make of your map the choice of their preference.</div>
    <div>Remember that the entire number of active users of Pok&eacute;mon GO will be able to subscribe overseas to Pok&eacute;centergo, for which building a solid and trustworthy community is fundamental for its own universal growth.</div>
    <div>As an administrator, you will be given the possibility to add poke-stops, gyms and help new followers to find everything in a fast and simple way so that following users join your team and enhance the community with data and other pok&eacute;mon locations to take advantage on the adversary team.</div>
    <div>As your city&acute;s leader, to add other administrators in order to help you build your own community, manage a map and assist other subscribers will be allowed at all time.</div>
    <br/><div><b>Chat- Pok&eacute;mon!</b></div><br/>
    <div>As soon as you sign in, you will be asked to pick a team in order to enter the general chat room &mdash;in which you will find all the conversations in real time of every user of each team in your city&mdash; or well, the private chat room of your own team. </div>
    <div>Real-time interaction with the community will be possible at any time, opening the possibility to set up a match as often as you like to defeat your opponents.</div>
    <br/><div><b>Encounters- Pok&eacute;mon</b></div><br/>
    <div>Create and keep up to date of the matches to fight the opposing team, arrange everything on the place of your choice and take over the battlefield along your partners. You will be able to visualize the contestants, set the time and place of the encounter and everything necessary to prepare yourself for battle.</div>
    <br/><div><b>User Profile</b></div><br/>
    <div>A personal profile will be assigned for each user from which you will be able to see the pok&eacute;mons this trainer has trapped for the sake of the community, as well as his/her score.</div>
    <div>Remember it is important only to give accurate information to keep your score high, so everytime you find a pok&eacute;mon, the trust of the community will be upon you.</div>
    <br/><div><b>Log administrator and user</b></div><br/>
    <div>Every administrator will have access to all the information regarding the daily activity of each user in order to decide for the best interest of the community. </div>
    <br/><div><b>Credits</b></div><br/>
    <div>JustmeMx | Backend Development</div>
    <div>Yuna Breikoft | Frontend Development</div>
    <div>ZeroDragon | Calc Development </div>
</div>