<md-dialog aria-label="Login" ng-cloak>
    <form>
        <md-toolbar>
      <div class="md-toolbar-tools white-color">
        <h2>Login with google</h2>
      </div>
    </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content content-center">
                <md-button class="md-raised md-primary" ng-click="login()">
                     <span class="white-color">Login</span>
                </md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>